.nav {
  display: flex;
  gap: 20px;
  align-items: center;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .active {
    text-decoration: none;
    color: #fe0808;
  }
}
