.search {
  margin-top: 30px;
}

.btn {
  background-color: #dc143c;
  color: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn:hover {
  background-color: black;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
}
