.search {
  margin-top: 30px;
}

.btn {
  background-color: #dc143c;
  color: white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn:hover {
  background-color: black;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.moviesList {
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  padding-top: 20px;
}

.movieItem {
  width: calc((100% - 30px) / 4);
}
.movieItem:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.movieImage {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}

.release_date {
  font-weight: normal;
}
