.list_movies {
  text-align: left;
}
.list_movies:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.movies {
  list-style-type: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 30px;
}

.list_movies {
  width: calc((100% - 30px) / 4);
}
.poster {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}
